:root{
  /* --primary-color: #660099; */
  --primary-color: #e03a3c;
  --secondary-color: #1b1b1b;
  --bg-color: #e26365;
  --font-color-444: #444444;
  --primary-crimson: #e03a3c;
}


/* header{
  background-color: var(--secondary-color);
  height: 60px;
  padding: 5px 0;

}

.logo , .nav-bar{
  background-color: var(--primary-color);
  height: 50px;
  padding: 5px;
}

.nav-links , .get-started , .ham-menu{
  background-color: var(--secondary-color);
  height: 40px;
} */

header{
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}


.navbar-brand{
  font-size: 30px;
  font-weight: 600;
  color:#111111
}

.navbar-brand .dot-color{
  color: var(--primary-color);
}

.nav-link{
  font-size: 16px;
  font-weight: 600;
  color:#111111
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: var(--primary-color);
}




#banner_id{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-section{
  height: calc(100vh - 60px);
  padding: 150px 0;
}


.banner-content h1{
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.banner-content h2{
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.banner-content .btn-danger{
  font-size: 16px;
  font-weight: 500;
  padding: 10px 36px;
}




.banner-content .get-started-btn{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 36px;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
}

.banner-content .get-started-btn:hover{
  background-color: var(--primary-color);
}

.banner-content .get-started-btn span{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}





.client-logo-section{
  height: 220px;
  padding: 50px 0;
}

.client-logo-box{
  height: auto;
	padding: 10px 30px;  
}

.client-logo-box img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.client-logo-box img:hover{
  opacity: 1;
  filter: none;
}

#client-logo_carousel .carousel-indicators{
  bottom: -60px;
}

#client-logo_carousel .carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  opacity: 1;
}

#client-logo_carousel .carousel-indicators .active{
  background-color: var(--primary-color);
}



.about-us-section{
  padding: 100px 0;
  position: relative;

}

.about-us-section::before{
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  transform: skew(0,-3deg);
  z-index: -20;
}



.about-left{
  padding: 30px 30px 30px 0;
}

.about-left h3{
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

.about-left p{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.about-left .about-us-btn{
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

.about-left .about-us-btn:hover{
  background-color: var(--primary-color);
}

.about-left .about-us-btn span{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.about-right{
  padding: 30px;
}

.about-box{
  height: 160px;
}

.about-box .las{
  font-size: 40px;
  color: var(--primary-color);
}

.about-box h4{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.about-box p{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}



.dashboard-section{
  padding: 100px 0;
}

.dash-box{
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
}

.dash-box i{
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.dash-box span{
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: #111111;
}

.dash-box p{
  font-size: 14px;
}

.why-us-section{
  background-color: var(--primary-color);
  padding: 80px 0;
}

.why-us-box{
  background-color: var(--secondary-color);
  height: 100px;
}

.why-us-left , .why-us-right{
  background-color: var(--secondary-color);
  height: 400px;
  margin-top: 20px;
}

/* tab-starts */

.tabs-section{
  padding: 60px 0;
}

.nav-pills .nav-link{
  min-height: 100px;
  border: 1px solid var(--secondary-color);
  border-radius: unset;
  color: #111111;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link:hover{
  color: var(--primary-color);
}

.nav-pills .nav-link i{
  /* padding-right: 16px; */
  font-size: 48px;
}

.nav-pills .nav-link h4{
  font-size: 18px;
  font-weight: 600;
  /* color: #111111; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--primary-color);
}

.tab-left h3{
  font-size: 26px;
  font-weight: 700;
}

.tab-left p{
  font-size: 16px;
  font-weight: 400;
}

.tab-left ul li{
  font-size: 16px;
  font-weight: 400;
}

.tab-left ul li i{
  color: var(--primary-color);
}

/* tab ends */

.services-section{
  padding: 150px 0;
  position: relative;
}

.services-section::before{
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  transform: skew(0,-3deg);
  z-index: -20;
}

.services-title{
  min-height: 200px;
  padding: 20px;
}

.services-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.services-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.services-title p{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.services-box{
  background-color: #252525;
  height: 150px;
  display: flex;
  gap: 30px;
  padding: 30px;
  margin-top: 20px;
  border-radius: 4px;
}

.services-box i{
  display: inline-block;
  color: var(--primary-color);
  font-size: 48px;
}

.services-desc h4{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-desc h4 a{
  text-decoration: none;
  color: #fff;
}

.services-desc p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}



.portfolio-section{
  padding: 50px 0;
}

.portfolio-title{
  min-height: 250px;
  padding: 30px;
}

.portfolio-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #444;
  position: relative;
}

.portfolio-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.portfolio-title p{
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.port-filter li{
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}

.port-filter li.filter-active{
  background-color: #e03a3c;
  color: #fff;
}

.portfolio-box{
  height: 300px;
  margin-top: 20px;

  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio-box img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
}

.portfolio-box .port-info{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.port-info h4{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.port-info p{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.port-links a{
  color: rgba(255, 255, 255, 0.5);
  margin: 0 5px 0 0;
  font-size: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.portfolio-box:hover .port-info{
	opacity: 1;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.portfolio-box:hover img{
	transform: scale(1.2);
}

.port-links a:hover{
  color: #fff;
}


.testimonials-section{
  padding: 80px 0;
}

.testimonials-title{
  min-height: 200px;
  padding: 20px;
}

.testimonials-title h2{
  font-size: 32px;
  font-weight: 700;
  color: var(--font-color-444);
  position: relative;
}

.testimonials-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.testimonials-title p{
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color-444);
}



/* ?  Testimonial Carousel Starts */

.test-box{
  width: 100%;
  min-height: 330px;
  padding: 30px;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
}

.test-client-dp{
  width: 80px;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;
}

.test-client-dp img{
  display: block;
  width: 100%;
}

.test-client-info h3{
  font-size: 18px;
  font-weight: 700;
}

.test-client-info h4{
  font-size: 14px;
  font-weight: 500;
}

.test-client-review p{
  font-size: 16px;
  font-weight: 400;
}

.test-client-review .fa-quote-left , .test-client-review .fa-quote-right{
  display: inline-block;
  font-size: 24px;
  color: #d67071;
}

.test-client-review .fa-quote-left{
  padding: 0 6px 6px;
}

.test-client-review .fa-quote-right{
  padding: 6px 6px 0;
}

#testimonials_carousel .carousel-indicators{
  bottom: -60px;
}

#testimonials_carousel .carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  opacity: 1;
}

#testimonials_carousel .carousel-indicators .active{
  background-color: var(--primary-color);
}


/* ?  Testimonial Carousel Ends */



.pricing-section{
  padding: 150px 0;
  position: relative;
}

.pricing-section::before{
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  transform: skew(0,-3deg);
  z-index: -20;
}

.pricing-title{
  background-color: var(--secondary-color);
  padding: 30px;
}

.pricing-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.pricing-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.pricing-title p{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.pricing-box{
  background-color: #2b2b2b;
  /* height: 400px; */
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #fff;
}

.active-price{
    background-color: var(--primary-color);
}

.pricing-box h4{
  color: #fff;
}

.pricing-box p{
    font-size: 14px;
	margin-bottom: 16px;
}

.plan-price{
    font-size: 36px;
    padding: 16px 0;
    font-weight: 600;
    color: #fff;
	/* margin-bottom: 16px; */
}

.plan-price sup{
    font-size: 20px;
}

.plan-price span{
    font-size: 14px;
    font-weight: 500;
}

.per-month , .delete{
    color: #ccc;
}

.buy-now{
    padding: 16px 20px;
    border-radius: 0 0 6px 6px;
}

.buy-now a{
	display: inline-block;
	font-size: 14px;
  font-weight: 600;
	text-decoration: none;
	color: var(--white);
	padding: 8px 32px;
	border-radius: 6px;
  color: var(--white);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.buy-now a:hover{
  border: 2px solid #fff;
}




.faq-section{
  padding: 80px 0;
}

.faq-title{
  height: 100px;
}

.faq-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #444;
  position: relative;
}

.faq-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.faq-content{
  background-color: var(--primary-color);
  margin-top: 20px;
}

.accordion-button{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.accordion-body{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


.team-section{
  padding: 150px 0;
  position: relative;
}

.team-section::before{
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  transform: skew(0,-3deg);
  z-index: -20;
}


.team-title{
  padding: 30px;
}

.team-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.team-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.team-title p{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}


.team-box{
  margin-top: 20px;
}

.person-img{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.person-img img{
  width: 100%;
  display: block;
}

.social-media{
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media a{
  text-decoration: none;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out ;
  color: #fff;
}

.social-media i{
  font-size: 18px;
}


.person-info{
  padding: 16px;
  background-color: #fff;
}

.person-info h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--secondary-color);
}

.person-info p{
  font-size: 13px;
  font-weight: 400;
  color: var(--secondary-color);
}

.team-box:hover .social-media{
  opacity: 1;
  bottom: 16px;
}

.social-media a:hover{
  color: #fff;
  background-color: #1b1b1b;
}






.contact-section{
  padding: 80px 0;
}

.contact-title{
  padding: 30px;
}


.contact-title h2{
  font-size: 32px;
  font-weight: 700;
  color: #444;
  position: relative;
}

.contact-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: -20px;
    left: calc(50% - 25px);
}

.contact-title p{
  font-size: 16px;
  font-weight: 400;
  color: #444;
}


.contact-left , .contact-right{
  padding: 20px;
  margin-top: 20px;
}

.contact-right{
  padding: 20px;
}

.contact-address , .contact-email-us , .contact-call-us{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}




.contact-icon{
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	border-radius: 50%;
	border: 1px dotted var(--primary-color);
}

.contact-icon i{
	font-size: 24px;
	color: var(--primary-color);
}

.contact-content h3{
	font-size: 20px;
  margin-bottom: 16px;
}

.contact-content p{
	font-size: 14px;
  line-height: 24px;
}




.contact-name , .contact-email , .contact-sub, .contact-send-msg{
  height: 50px;
  margin-top: 20px;
}

.contact-msg{
  height: 110px;
  margin-top: 20px;
}



.contact-name input, .contact-email input, .contact-sub input, .contact-msg textarea{
  width: 100%;
  height: 100%;

}

.contact-send-msg{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.contact-send-msg button{
	background-color: var(--primary-color);
  border: none;
	border-radius: 4px;
	padding: 14px 28px;
	font-size: 16px;
	color: #fff;
}


.footer-section{
  background-color: #1b1b1b;
  padding: 50px 0;
}

/* .footer-box{
  height: 300px;
} */






.footer-box h3{
  font-size: 24px;
}

.footer-box h3, .footer-box h4{
margin-bottom: 20px;
color: #fff;
}

.footer-box p{
font-size: 14px;
}

.footer-box address{
font-size: 14px;
line-height: 20px;
margin-bottom: 20px;
}

.footer-box .contacts{
line-height: 20px;
margin-bottom: 20px;
}

.contacts span{
font-weight: 600;
}

.contacts a{
text-decoration: none;
  color: #fff;
}

.contacts a:hover{
color: var(--primary-color);
}

.footer-box ul{
padding-left: 10px;
list-style: none;
}

.footer-box ul li{
font-size: 14px;
margin-bottom: 20px;
}

.footer-box ul li::before {
  content: "\003E";
font-weight: 600;
  padding-right: 8px;
  color: var(--primary-color);
}

.footer-box ul li a{
text-decoration: none;
  color: #fff;
}

.footer-box ul li a:hover{
color: var(--primary-color);
}

.address-info{
  padding: 0 20px 20px 0;
  color: #fff;
}

.newsletter{
  padding: 0 0 20px 20px;
  color: #fff;
}

.newsletter p{
line-height: 20px;
margin-bottom: 20px;
}

.newsletter div{
width: 100%;
height: 40px;
  position: relative;
}

.newsletter input{
width: 70%;
height: 100%;
  font-size: 16px;
padding: 0 20px 0 10px;
  border-radius: 20px 0 0 20px;
border: 1px solid lightgray;
}


.newsletter input:focus{
outline: none;
box-shadow: none;
border: 1px solid gray;
}

.newsletter button{
  position: absolute;
  right: 20px;
  top: 0;
width: 30%;
height: 100%;
/* border-radius: 0 20px 20px 0; */
  border-radius: 20px;
background-color: var(--primary-color);
color: white;
border: none;
  font-size: 16px;
  padding: 0 6px;
}

.newsletter button:hover{
background-color: #28989e;
cursor: pointer;
}





.copy-social-section{
  background-color: #111111;
  padding: 10px 0;
}

.designed-by-box , .social-logo-box{
  /* background-color: var(--primary-color); */
  padding: 10px 0;
  /* height: 40px; */
}

.designed-by-box p{
  font-size: 14px;
  margin-bottom: 4px;
}

.designed-by-box p a{
  text-decoration: none;
  color: var(--primary-color);
}

.designed-by-box p a:hover{
  color: #28989e
}


.social-logo-box{
	display: flex;
  justify-content: flex-end;
	gap: 10px;
	width: 100%;
  padding: 10px 0;
}

.social-logo-box span{
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 10px;
	background-color: #1b1b1b;
	border-radius: 50%;
  text-align: center;
  line-height: 1.2;
}

.social-logo-box span:hover{
	background-color: var(--primary-color);
	cursor: pointer;
}

.social-logo-box i{
	color: #fff;
}